{% extends "blocks/base.twig" %}
{% block title %}Weather Api {% endblock %}


{% block body %}

<!--write all html here for frontpage.-->
<main role="main" class="inner full-height">
    <div class="cover">
        <h1 class="cover-heading">Weather Api</h1>
        <p class="lead">Your all inclusive weather api for your local area, never missed a temperature since the fire in 1979</p>
        <p class="lead">
        <a href="/api/documentation" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
	</div>
</main>

{% endblock %}